#footer {
    background: linear-gradient(180deg, #9a9a9a, #3e2e5c);
    display: flex;
    flex-direction: column;
}

#footer h1 {
    font-size: 3rem;
    margin: 4rem 0;
    text-align: center;
    background: -webkit-linear-gradient(#111, #2F0E72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-variant: small-caps;
}

#footer span {
    border: 2px solid #2F0E72;
    margin: 3rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

.contact_tiles {
    display: flex;
    justify-content: center;
    background-color: #111;
    border-radius: 0.5rem;
}

.social-link-logo {
    width: 2.2rem;
    height: 2.2rem;
    margin-inline: 0.5rem;
}

.contact_tiles > a:nth-child(3) > img {
    background-color: white;
    padding: 0 0.2rem;
    border-radius: 0.3rem;
}

/* Mobile */
@media (max-width: 576px) {
    #footer {
        height: 100%;
        padding: 2rem;
    }

    #footer p {
        font-size: 1.3rem;
        width: 90%;
    }

    #footer span {
        margin: 3rem auto;
        padding: 0.7rem;
        font-size: 1.3rem;
        border-radius: 0.3rem;
    }

    .contact_tiles {
        margin: 1.3rem auto;
        padding: 0.6rem 2rem;
    }
}

/*** Tablet ***/
@media (min-width: 576px) and (max-width: 768px) {
    #footer {
        height: 60vh;
        padding: 2rem;
    }

    #footer p {
        font-size: 1.3rem;
        width: 90%;
    }

    #footer span {
        margin: 3rem auto;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 0.3rem;
    }
    
    .contact_tiles {
        margin: 2rem auto;
        padding: 1rem 2rem;
    }
}

/*** Desktop ***/
@media (min-width: 768px) and (max-width: 1199px) {
    #footer {
        height: 55vh;
        padding: 2rem;
    }

    #footer p {
        font-size: 1.5rem;
        width: 80%;
    }

    #footer span {
        margin: 3rem auto;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 0.3rem;
    }

    .contact_tiles>a:hover {
        animation-name: animate_social_links;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-iteration-count: forwards;
    }
    
    .contact_tiles {
        margin: 2rem auto;
        padding: 1rem 2rem;
    }
}

/*** Extra large ***/
@media (min-width: 1200px) {
    #footer {
        height: 55vh;
        padding: 2rem;
    }

    #footer p {
        font-size: 1.5rem;
        width: 70%;
    }

    #footer span {
        margin: 3rem auto;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 0.3rem;
    }
    
    .contact_tiles {
        margin: 2rem auto;
        padding: 1rem 2rem;
    }

    .contact_tiles>a:hover {
        animation-name: animate_social_links;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-iteration-count: forwards;
    }

}

@keyframes animate_social_links {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}